@import '../../utils/var';
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  .sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-right: 1px solid $LightGray;
    .sidebar__headerRight {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 10vw;
      & > .MuiSvgIcon-root {
        margin-right: 2vw;
        font-size: 1.5rem !important;
      }
    }
  }
  .sidebar__search {
    display: flex;
    align-items: center;
    background-color: $backgroundThird;
    height: 2.5rem;
    padding: 0.6rem;
    .sidebar__searchContainer {
      display: flex;
      align-items: center;
      background-color: $White;
      width: 100%;
      height: 2.2rem;
      border-radius: 1.2rem;
      input {
        border: none;
        margin-left: 0.6rem;
      }
      & > .MuiSvgIcon-root {
        color: $LightGray;
        padding: 0.6rem;
      }
    }
  }
  .sidebar__chats {
    flex: 1;
    background-color: $White;
    overflow: scroll;
  }
}
